/* -------------------------------- RESET CSS ---------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/* -------------------------------- RESET CSS ---------------------------------------------------- */
body {
    background-color: whitesmoke;
}

/* -------------------------------- FORM AND EMPLOYEE INFO ---------------------------------------- */
#employee-information-main {
    padding: 2em;
}

#employee-information-secondary {
    padding: 2em;
}

#employee-information-main h2 {
    margin-top: 0.2em;    
    font-weight: bolder;
    color: darkblue;
}

.nav-bar-main {
    min-width: 900px;
    display: inline;
}

.main-title {
    text-align: right;
    font-style: italic;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    padding-right: 1.8em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    margin: 0;
}

.nav-item {
    font-size: larger;
}

.logo {
    width: 4.7em;
    float: left;
    margin-left: 0.7em;
    margin-right: 0.5em;
}

.form-control {
    max-width: 500px;
}

.form-label {
    font-weight: bolder;
}

.main-menu-grid-cards {
    margin-left: 2em;
    margin-right: 0.5em;
    margin-top: 2em;
}

.make-your-selection {
    margin-top: 0.7em;
    margin-left: 1em;
    font-weight: bolder;
    color: darkblue;
}

/* -------------------------------- MAIN MENU CARDS ------------------------------------------------ */
.card-img-top {
    width: 290px;
    height: 290px;
    margin: auto;
    padding: 1em;
}

.card {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    box-shadow:
  10px 7.9px 12.3px rgba(0, 0, 0, 0.044),
  19.2px 15.3px 22.2px rgba(0, 0, 0, 0.06),
  27.8px 22.2px 30.7px rgba(0, 0, 0, 0.071),
  36.6px 29.1px 40.8px rgba(0, 0, 0, 0.082),
  48.5px 38.6px 62.5px rgba(0, 0, 0, 0.096),
  118px 94px 174px rgba(0, 0, 0, 0.13);
}

.card:hover {
    cursor: pointer;
    background-color: rgb(176, 176, 233);
}

.card-body {
    background-color: rgb(19, 20, 20);
    color: white;
    text-align: center;
    padding: 0.8em;
    align-self: auto;
    border-radius: 10px 10px 0 0;
}

.col {
    width: 350px;
    height: 350px;
}

.card-img-top {
    width: 290px;
    height: 290px;
}

.container-fluid {
    padding-left: 2em;
}

/* -------------------------------- FOOTER ---------------------------------------------------- */
footer {
    display: inline;
    text-align: right;
    position:fixed;
    bottom:0;
    width:100%;
}

.footer_container {
    background-color: rgb(17, 17, 17);
    height: 4em;
    padding: 0.5em;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
}
.footer_item {
    display: inline-flex;
    color: white;
    padding: 0.7rem;
    margin-right: 20px;
}

.footer_item_2 {
    display: inline-flex;
    color: white;
    float: right;
    margin-right: 1em;
    padding: 0.7rem;
}
